Source: yoyo-digitalwellbeing-daemon
Section: utils
Priority: optional
Maintainer: Yoyo OS <admin@yzzi.icu>
Build-Depends: debhelper (>= 11), libdtkcore-dev, libqt5dbus5, libqt5sql5, qtbase5-dev
Standards-Version: 4.1.3
Homepage: https://github.com/yoyo-os/digitalwellbeing-daemon
Vcs-Browser: https://github.com/yoyo-os/digitalwellbeing-daemon
Vcs-Git: https://github.com/yoyo-os/digitalwellbeing-daemon.git

Package: yoyo-digitalwellbeing-daemon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A digital-wellbeing daemon which monitors your behavior and provides corresponding stats via dbus.
 A digital-wellbeing daemon which monitors your behavior, stores them in local sqlite file, and provides corresponding stats via dbus such as per-app usage, usage summary per day/week etc.
